<a href="https://colab.research.google.com/github/sammysonkar/project-demo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Science Tools and Ecosystem

In [ ]:
#In this notebook, Data Science Tools and Ecosystem are summarized.
#Objectives:
#List popular languages for Data Science
#List popular libraries for Data Science
#List popular tools for Data Science

In [ ]:
#Some of the popular languages that Data Scientists use are:
#python
#R
#SQL

In [ ]:
#Some of the commonly used libraries used by Data Scientists include:
#seaborn
#matplotlib
#numpy

In [ ]:
#Data Science Tools
#Jupyter Notebook
#RStudio
#VS Code (with Python extensions)

In [ ]:
#Below are a few examples of evaluating arithmetic expressions in Python
# + (addition)
# - (subtraction)
# * (multiplication)
# / (division)
# % (modulo)

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [ ]:
# Author
#Samriddha Sonkar